



<div>
<img src="images/beer.png" alt="An ice cold beer">    
<a href="/beers">Check the Beers!</a>
<a href="/random-beer">Check some Random Beer!</a>
</div>




<script type="text/javascript" src="/path/to/punkapi-javascript-wrapper/dist/punkapi-javascript-wrapper.js"></script>